@mixin absoluteFill () {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.video-box{
    width: 80%;
    height: 4.56rem;
    margin: auto;
    position: relative;
    background: #000;
    text-align: center;

    .video-poster{
        @include absoluteFill();
        background: #000 top center no-repeat;
        background-size: cover;
    }

    &:before{
        content: " ";
        @include absoluteFill();
        background: rgba(0,0,0,.5);
        z-index: 1;
    }

    video{
        height: 100%;
        object-fit: cover;
    }
}

.video-playing:before{
    display: none;
}

.play-loading{
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0;
    text-align: center;
    background: rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.play-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1.4rem;
    height: 1.4rem;
    background: rgba(0,0,0,.5);
    border-radius: 50%;
    z-index: 2;
    img{
        width: 100%;
    }
}

.play-loading .line{
    display: inline-block;
    width: .06rem;
    height: .7rem;
    background: #fff;
    border-radius: .05rem;
    margin: 0 .05rem;
    vertical-align: middle;
    webkit-transform: scale(1,.6);
    -webkit-transform: scale(1,.6);
    -ms-transform: scale(1,.6);
    transform: scale(1,.6);
}

.play-loading .line:nth-child(1) {
    -webkit-animation: line 1s linear infinite;
    animation: line 1s linear infinite
}

.play-loading .line:nth-child(2) {
    -webkit-animation: line 1s .2s linear infinite;
    animation: line 1s .2s linear infinite
}

.play-loading .line:nth-child(3) {
    -webkit-animation: line 1s .4s linear infinite;
    animation: line 1s .4s linear infinite
}

.play-loading .line:nth-child(4) {
    -webkit-animation: line 1s .6s linear infinite;
    animation: line 1s .6s linear infinite
}

.play-loading .line:nth-child(5) {
    -webkit-animation: line 1s .8s linear infinite;
    animation: line 1s .8s linear infinite
}

@-webkit-keyframes line {
    0% {
        webkit-transform: scale(1, .6);
        -webkit-transform: scale(1, .6);
        transform: scale(1, .6)
    }
    25% {
        webkit-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        webkit-transform: scale(1, .6);
        -webkit-transform: scale(1, .6);
        transform: scale(1, .6)
    }
    75% {
        webkit-transform: scale(1, .2);
        -webkit-transform: scale(1, .2);
        transform: scale(1, .2)
    }
    100% {
        webkit-transform: scale(1, .6);
        -webkit-transform: scale(1, .6);
        transform: scale(1, .6)
    }
}
