/*
 * mixins css
 */
@mixin background-clip ($boxStyle) {
    -webkit-background-clip: $boxStyle;
    -moz-background-clip: $boxStyle;
    background-clip: $boxStyle;
}

@mixin setBg($url){
    background: url($url) top center no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

@mixin setRadiusClip(){
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

@mixin top-bottom-linear-gradient($colors...){
    background: -webkit-linear-gradient(top, $colors);
    background: -moz-linear-gradient(top, $colors);
    background: -o-linear-gradient(top, $colors);
    background: linear-gradient(top, $colors);
}

@mixin play-mask-cover($bgc, $playBtnUrl, $btn_w, $btn_h, $mt, $ml){
    position: relative;
    &:before{
        position: absolute;
        content: " ";
        display: inline-block;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: $bgc;
        border-radius: 20px;
    }
    &:after{
        position: absolute;
        content: " ";
        display: inline-block;
        width: $btn_w;
        height: $btn_h;
        background: url($playBtnUrl) top center no-repeat;
        background-size: 100%;
        top: 50%;
        left: 50%;
        margin-top: $mt;
        margin-left: $ml;
    }
}

@mixin setHtmlMaxWidth($width: 540PX){
    max-width: $width;
}
