@import '@assets/css/mixin.scss';
html,
body {
    font-size: 0;
    margin: 0 auto;
    background-color: $mainColor;
    padding-bottom: 68px;
}

button {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    border: 0;
    outline: none;
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    &.icon-btn-share {
        width: 260px;
        height: 70px;
        background-image: url(~@assets/img/icon-btn-share.png);
        position: absolute;
        top: 16px;
        right: 10px;
    }
    &.icon-btn-rule {
        width: 250px;
        height: 180px;
        background-image: url(~@assets/img/icon-btn-rule.png);
        vertical-align: middle;
    }
    &.icon-btn-reward {
        width: 230px;
        height: 169px;
        background-image: url(~@assets/img/icon-btn-reward.png);
        vertical-align: middle;
    }
    &.icon-btn-more {
        width: 318px;
        height: 80px;
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(~@assets/img/icon-btn-more.png);
        @include font(34, #AEAEF7);
        &:after {
            content: "";
            display: inline-block;
            background-color: transparent;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 19px;
            height: 14px;
            margin-left: 10px;
            vertical-align: middle;
        }
        &.more:after {
            background-image: url(~@assets/img/icon-down-arrow.png);
        }
        &.hide:after {
            background-image: url(~@assets/img/icon-up-arrow.png);
        }
    }
    &.icon-btn-close {
        width: 28px;
        height: 27px;
        background-image: url(~@assets/img/icon-btn-close.png);
        position: absolute;
        top: 33px;
        right: 33px;
    }
    &.icon-btn-topic {
        width: 180px;
        height: 85px;
        background-image: url(~@assets/img/icon-btn-topic.png);
        background-size: 100% auto;
        @include font(30, #17179B, bold);
        &.join {
            width: 355px;
            height: 85px;
            display: block;
            margin: 0 auto 30px auto;
            background-size: 100% 100%;
            font-size: 36px;
        }
    }
}

header {
    position: relative;
    img {
        width: auto;
        height: 621px;
    }
}

section {
    margin-top: -50px;
    .item {
        position: relative;
        width: 718px;
        margin: 0 auto 45px auto;
        box-sizing: border-box;
        background-color: transparent;
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        &.summary {
            @include font(26, #fff);
            padding: 24px;
            background-image: url(~@assets/img/icon-border-3.png);
            line-height: 42px;
        }
        &.video {
            background-image: url(~@assets/img/icon-border-2.png);
            position: relative;
            height: 399px;
            position: relative;
            overflow: hidden;
            border-radius: 18px;
            div {
                width: 697px;
                height: 380px;
                left: 50%;
                top: 50%;
                overflow: hidden;
                transform: translate3d(-50%, -50%, 0);
                position: absolute;
                border-radius: 18px;
                overflow: hidden;
                background-color: transparent;
                background-position: center top;
                background-size: 100% auto;
                background-repeat: no-repeat;
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .5);
                    z-index: 1;
                }
            }
            &:after {
                content: "";
                display: block;
                background-color: transparent;
                background-position: center center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-image: url(~@assets/img/icon-btn-play.png);
                width: 110px;
                height: 110px;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                position: absolute;
            }
        }
        &.topic {
            background-image: url(~@assets/img/icon-border-1.png);
            padding: 50px 20px 70px 20px;
            h1 {
                width: 678px;
                height: 128px;
                margin: 0 auto 25px auto;
                background-color: transparent;
                background-position: center center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-image: url(~@assets/img/title.png);
                p {
                    width: 490px;
                    margin: 0 auto;
                    font-size: 36px;
                    color: #fff;
                    text-align: center;
                    text-shadow: 0px 0px 5px #000cff, 0px 0px 5px #000cff, 0px 0px 5px #000cff, 0px 0px 5px #000cff;
                }
            }
        }
    }
    .list {
        li {
            display: flex;
            align-items: center;
            margin-bottom: 68px;
        }
        .no {
            @include font(34, #fff);
            vertical-align: middle;
        }
        li:nth-child(1) {
            .avatar {
                &:before {
                    background-image: url(~@assets/img/icon-no-1.png);
                }
            }
        }
        li:nth-child(2) {
            .avatar {
                &:before {
                    background-image: url(~@assets/img/icon-no-2.png);
                }
            }
        }
        li:nth-child(3) {
            .avatar {
                &:before {
                    background-image: url(~@assets/img/icon-no-3.png);
                }
            }
        }
        .avatar {
            vertical-align: middle;
            padding-left: 10px;
            padding-right: 10px;
            display: inline-block;
            position: relative;
            &:before {
                content: "";
                display: block;
                background-color: transparent;
                background-position: center center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 70px;
                height: 55px;
                left: 50%;
                top: -46px;
                transform: translate(-50%, 0);
                position: absolute;
            }
            p {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 4px solid #E0F4FF;
                background-color: transparent;
                background-position: center center;
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
        }
        .desc {
            flex: 1;
            padding: 0 10px 0 5px;
            vertical-align: middle;
            @include font(26, #E0F4FF);
            p {
                word-break: break-all;
                word-wrap: break-word;
            }
            span {
                margin-left: 10px;
            }
        }
        button {
            vertical-align: middle;
            display: table-cell;
        }
    }
    .notice {
        width: 666px;
        height: 64px;
        background: rgba(23, 23, 155, 1);
        border-radius: 32px;
        margin: 0 auto 73px auto;
        overflow: hidden;
        padding: 0 50px;
        @include font(26, #fff);
        img {
            width: 70px;
            height: auto;
            vertical-align: middle;
            margin-right: 10px;
        }
        span {
            vertical-align: middle;
            height: 64px;
            line-height: 64px;
            display: inline-block;
        }
        p {
            height: 64px;
            line-height: 60px;
        }
        .table-wrap {
            overflow: hidden;
            position: relative;
        }
        .table {
            display: table;
            &.enlist {
                animation: enlist 78s linear infinite;
            }
            &.enlist2 {
                position: absolute;
                top: 0;
                transform: translateX(-100%);
                animation: enlist2 78s linear infinite;
            }
            p {
                padding-right: 80px;
                display: table-cell;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 88px;
                background-color: transparent;
                background-position: left center;
                background-size: 79px 53px;
                background-repeat: no-repeat;
                background-image: url(~@assets/img/icon-horn.png);
            }
        }
    }
    @keyframes enlist {
        0% {
            transform: translateX(100%);
        }
        50% {
            transform: translateX(0%);
        }
        50.1% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @keyframes enlist2 {
        0% {
            transform: translateX(0%);
        }
        50% {
            transform: translateX(-100%);
        }
        50.1% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-0%);
        }
    }
    .btn-wrap {
        text-align: center;
        margin-bottom: 28px;
    }
    .link {
        @include font(24, #fff);
        text-align: center;
        margin-bottom: 60px;
        line-height: 30px;
        text-shadow: 0px 0px 5px #000cff, 0px 0px 5px #000cff, 0px 0px 5px #000cff, 0px 0px 5px #000cff;
        p {
            border-bottom: 1px solid #000cff;
            display: inline-block;
        }
    }
}

footer {
    @include font(22, #4747BD);
    text-align: center;
}

.mask {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog {
    // background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .item {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 708px;
        margin: 0 auto 45px auto;
        box-sizing: border-box;
        background-color: transparent;
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url(~@assets/img/icon-border-5.png);
        padding: 55px 25px;
        &.rule {
            background-image: url(~@assets/img/icon-border-4.png);
        }
        h1 {
            @include font(36, #E0F4FF);
            text-align: center;
            width: 466px;
            margin: 0 auto 30px auto;
        }
        p {
            @include font(26, #E0F4FF);
        }
        .margin-bottom-55 {
            margin-bottom: 30px;
        }
        .margin-bottom-30 {
            margin-bottom: 25px;
        }
        .text-aligin-center {
            text-align: center;
        }
        span {
            @include font(26, #ee4d73);
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}