$baseFontSize: 75 !default;

*{
  padding:0;
  margin:0;
}

@function pxToRem($px) {
  @return $px / $baseFontSize * 1rem;
}

$font28: pxToRem(28);
$font34: pxToRem(34);
$color000: #000;
$color484848: #484848;
.title{
  font-size:$font34;
  color:$color000;
}
.p{
  font-size:$font28;
  color:$color484848;
}

body{
  padding:pxToRem(30) pxToRem(32);
}
section > div{
  margin-bottom: pxToRem(20);
}
section .image{
  width:100%;
  margin:0 auto;
}
