* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #192026;
    background-image: url(~@assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 750px 318px;
}

.title {
    font-size: 64px;
    color: #fff;
    font-weight: normal;
    padding: 80px 0 80px 30px;
}

ul {
    width: 690px;
    margin: 0px auto 0 auto;
    li {
        margin-bottom: 32px;
        border-radius: 30px;
        overflow: hidden;
    }
}