@import './common.scss';
body {
    color: aquamarine;
    // background-color:#000;
}

section {
    display: flex;
}

.bg {
    background: transparent url(~@assets/img/1.jpg) no-repeat center center;
    background-size: cover;
    width: pxToRem(100);
    height: pxToRem(100);
}

.common1 {
    background: transparent url(~@static/img/1009.png) no-repeat center center;
    background-size: cover;
    width: pxToRem(100);
    height: pxToRem(100);
}