.common-scale-enter-active,
.common-scale-leave,
.common-scale-enter-to {
  transform: scale(1);
}

.common-scale-leave-active,
.common-scale-leave-to,
.common-scale-enter {
  transform: scale(0);
}

.common-bottom2Top-enter-active,
.common-bottom2Top-leave,
.common-bottom2Top-enter-to {
  transform: translate(0, 0);
}

.common-bottom2Top-leave-active,
.common-bottom2Top-leave-to,
.common-bottom2Top-enter {
  transform: translate(0, 100%);
}
